<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>258540652903-6hktmgbj764gemidg5le9cicvmn782g3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.258540652903-6hktmgbj764gemidg5le9cicvmn782g3</string>
	<key>API_KEY</key>
	<string>AIzaSyCRE3W-i4G_9Od3rYVV9X6NaWSAaK4K5dE</string>
	<key>GCM_SENDER_ID</key>
	<string>258540652903</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.makeathon5App</string>
	<key>PROJECT_ID</key>
	<string>make5app-8c8a2</string>
	<key>STORAGE_BUCKET</key>
	<string>make5app-8c8a2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:258540652903:ios:ecf592c01b6349449447c2</string>
</dict>
</plist>